header {
    display: flex;
}

#continue-quiz-btn {
    display: none;
}

.quiz-question {
    display: flex;
    width: 100%;
    justify-content: center;
}

.high-score-buttons {
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    width: 100px;
}

/* Utilities */

.flex-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
}

.flex-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
    align-items: center;
}

.w-100 {
    width: 100%;
}

.w-75 {
    width: 75%;
}

.text-center {
    text-align: center;
}

#quiz-content {
    display: flex;
    flex-direction: column;
}
